{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr>
      {% for i in c %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{i.p.product_name}}</h5>
          <p>Quantity: {{i.quantity}}</p>
          <p>Product per price:{{i.p.product_price}}</p>
          <p>Image: <img src="/media/{{i.p.image}}" height="200px" width="150px"></p>
          <p class="fw-bold">Total Price: {{i.u_price}}</p>
        </div>
      </div>
      {% endfor %}
      <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure
        optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil
        in et quis?</small>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <h4>Select Shipping Address</h4>
      <hr>
      <form action="{% url 'paymentdone' %}">
        <div class="card">
          <div class="card-body">
            <h5>{{user.customer_fname}} {{user.customer_lname}}</h5>
            <p>contact number:{{user.contact_number}}</p>
            <p>pincode:{{user.customer_pincode}}</p>
            <p>address:{{user.address}}</p>
            <p>payment type:Cash on delivery</p>
          </div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}