{% extends "admin_panel/admin_deshboard.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - HNJ Films</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static 'admin-style.css' %}">
    <link rel="stylesheet" href="{% static 'css1/all.css' %}">
    <link rel="stylesheet" href="{% static 'css1/add-form.css' %}">
    <!-- <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"> -->
</head>

<body>

    <div class="service-form-container">
        <form  method="POST" name="myform">
            {% csrf_token %}
            <h2 class="form-title">Supplier Add </h2>
            <div class="form-content">
                <div class="input-box">
                    <label for="name">NAME</label>
                    <input type="text" placeholder="ENTER COURSE NAME" value="{{supplier_object.sup_name}}" name='s_name' required>
                </div>
                <div class="input-box">
                    <label for="name">Contact Number</label>
                    <input type="number" placeholder=" Contact Number" name='s_con' value="{{supplier_object.contact_number}}" required>
                </div>
                <div class="input-box">
                    <label for="name">Supplier Address</label>
                    <input type="text" name='s_add'  value="{{supplier_object.sup_address}}" placeholder="Supplier Address" required></input>
                    <!-- <input type="text" placeholder="ENTER COURSE DESCRIPTION" name='course_desc' required>  -->
                </div>
                <div class="input-box">
                    <label for="name">Enter email</label>
                    <input type="email" placeholder="ENTER email" name='s_email' value="{{supplier_object.sup_email}}">
                </div>

                <div class="button-container">
                    <button type="submit" name="submit">Update</button>

                </div>

        </form>

    </div>

    </div>

    </div>
    <!-- =========== Scripts =========  -->
    <script src="{% static 'webjs/admin.js' %}"></script>




</body>

</html>
{% endblock body %}