{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login.css'%}">
</head>
<body>
    <div class="container">
        <div class="title">Sign In</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details"></span>
                    <input type="email" placeholder="Enter Your E-Mail" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter Your Password" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Login">
            </div>
            <div class="instruct">
                Do Not Have An Account? <a href="/registration">Create Account</a>
            </div>
        </form>
    </div>
</body>
</html>
