*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    width: 100%;
}
.sidebar{
    position:fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}

.sidebar.active
{
    width: 63px;
}

.sidebar .logo-details
{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details img
{
    object-fit: contain;
    width: 50px;
    margin-left: 6px;
    border-radius: 60px;
}

.sidebar .logo-details .logo_name
{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-left: 10px;
}

.sidebar .nav-links
{
    margin-top: 16px;
    position: relative;
    height: 561px;
}

.sidebar .nav-links li{
    height: 50px;
    width:100%;
    list-style: none;
}

.sidebar .nav-links li a
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a img
{
    object-fit: contain;
    width: 33px;
    margin-left: 15px;
}

.sidebar .nav-links li a:hover{
    background: #081D45;
}

.sidebar .nav-links li a .link_name
{
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    margin-left:17px;
    white-space: nowrap;
}

.home-section{
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    left:240px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-section{
    width: calc(100% - 63px);
    left:63px;
}

.home-section nav{
    width: calc(100% - 0px);
    left: 240px;
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-section nav .sidebar-button
{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.home-section nav .sidebar-button i{
    font-size: 40px;
}

.home-section nav .search-box
{
    height:50px ;
    width: 550px;
    margin: 0 20px;
    position: relative;
}

nav .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    outline: none;
}

nav .search-box .bx-search
{
        position: absolute;
        right:5px;
        top: 50%;
        transform: translateY(-50%);
        height: 40px;
        width: 40px;
        background: #2697FF;
        border-radius: 6px;
        color: #fff;
        font-size: 22px;
        line-height: 40px;
        text-align: center;
}
.home-section nav .profile-details
{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 100px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}

nav .profile-details img
{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}

nav .profile-details .admin_name
{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i{
    color: #333;
    font-size: 25px;
}

.home-section .home-content0
{
    position: relative;
    padding-top: 55px;
}

.home-content0 .overview-boxes0
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
    flex-wrap: wrap;
}

.home-content0 .overview-boxes0 .box0
{
    height: 80px;
    width: calc(90% / 3 - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 14px;
    background: #0A2558;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content0 .overview-boxes0 .box_topic0
{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.home-section .home-content1
{
    position: relative;
    padding-top: 50px;
}

.home-content1 .overview-boxes1
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
    flex-wrap: wrap;
}

.home-content1 .overview-boxes1 .box1
{
    height: 80px;
    width: calc(90% / 3 - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 14px;
    background: #0A2558;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content1 .overview-boxes1 .box_topic1
{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
