*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:linear-gradient(135deg,#F97794,#623AA2);
}

.container
{
    height: 460px;
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title
{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 20px;
    background:linear-gradient(135deg,#F97794,#623AA2);
}

.container form .user-details
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box
{
    margin-bottom: 22px;
    width:calc(100% / 1 - 15px);
}

.user-details .input-box .details
{
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input
{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid
{
    border-color: #623AA2;
}

form .button
{
    height: 45px;
    margin: 30px 0; 
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background:linear-gradient(135deg,#F97794,#623AA2);
}

form .button input:hover
{
    background:linear-gradient(-135deg,#F97794,#623AA2);
}
form .instruct{
    margin-left: 80px;
}

form .instruct a{
    text-decoration: none;
    color: #623AA2;
}

form .instruct a:hover{
    text-decoration: underline;
}
